<!DOCTYPE html>
<html class="">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
    <style rel="stylesheet">
      html,body{
        height: 100%;
      }
      div{
        width: 790px;
        height: 430px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -215px;
        margin-left: -395px;
      }
    </style>
</head>
<body>
  <div>
    404
  </div>
  <script type="text/javascript">
    setTimeout(function() {
      window.location.href= '/';
    }, 2000);
  </script>
</body>
</html>